.ng-move {
    -webkit-animation: pulse 0.3s;
    -moz-animation: pulse 0.3s;
    -o-animation: pulse 0.3s;
    animation: pulse 0.3s;
}

.ng-enter {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.ng-hide-add {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -o-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
    display: block !important;
}

.ng-hide-remove {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    display: block !important;
}

/*Form validation*/
input.ng-touched.ng-invalid {
    border: 2px #ff0000 solid;
}

.price-highlight-up {
    background-color: lawngreen;
}

.price-highlight-down {
    background-color: red;
}